<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>HOBBIES</title>
</head>
<body>
    <main>
        <header class="encabezado">
            <h1>FAMILIA</h1>
            <nav class="nav-bar">
                <ul>
                    <li><a href="/index.html" class="nav">PERSONAL</a></li>
                    <li><a href="./hobbies.html" class="nav">HOBBIES</a></li>
                    <li><a href="./familia.html" class="nav">FAMILIA</a></li>
                </ul>
            </nav>
        </header>
        <div class="informacion">
            <h2>Mi Familia</h2>
            <div class="fotos">
                <img id="foto_fam" src="/assets/images/PADRES.jpg" alt="padres">
                <img id="foto_her" src="/assets/images/HERMANO.jpg" alt="hermano_menor">
            </div>
            <p>Una de mis pasatiempos favorito es pasar tiempo con mi familia.</p>
            <p class="descripcion"> Mi famila se compone de Madre, Padre, Abuela y Hermanito menor</p>
        </div>
    </main>

    <footer>
        <p>Página creada y realizada por Duvier Diego David &copy;Todos los derechos reservados 2024</p>
    </footer>
</body>
</html>