<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/ejercicio6.css">
    <title>EJERCICIO 6</title>
</head>
<body>
    <main>
        <section class="cajas">
            <div class="caja-info">
                    <h2>1 Day Pass</h2>
                    <ul>
                        <li>Acceso en día seleccionado</li>
                        <li>Participación en workshops</li>
                        <li>Acceso en zona networking</li>
                    </ul>
                    <button>COMPRAR</button>
                </div>
            <div class="caja-info">
                <h2>Weekend Pass</h2>
                <ul>
                    <li>Acceso en fin de semana</li>
                    <li>Participación en workshops</li>
                    <li>Acceso a zona networking</li>
                    <li>Noche de hotel incluida</li>
                </ul>
                <button>COMPRAR</button>
            </div>
            <div class="caja-info">
                <h2>Weekend Pass</h2>
                <ul>
                    <li>Acceso a todas las ponencias</li>
                    <li>Participación en los workshops</li>
                    <li>Acceso a la zona networking</li>
                    <li>Noche de hotel incluida</li>
                    <li>Lunch de bienvenida</li>
                </ul>
                <button>COMPRAR</button>
            </div>
        </section>
    </main>
</body>
</html>