<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/ejercicio3.css">
    <title>EJERCICIO 3</title>
</head>
<body>
    <main>
        <div class="centrado">
            <h1 class="titulo">Estoy centrado</h1>
            <div>
                <p>This box is both vertically and horizontally centered. Even if the text in this box changes to make it wider or taller, the box will still be centered. Go ahead, give it a try. Just click to edit the text.</p>
            </div>
        </div>
        </main>
</body>
</html>