<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/ejercicio5.css">
    <title>EJERCICIO 5</title>
</head>
<body>
    <header class="encabezado">Bienvenidos al Header</header>
    <main>
        <nav>Navegación</nav>
        <article>
            <h2>Titulo del post</h2>
            <p>Aquí va tu contenido</p>
        </article>
        <aside>Columna</aside>
    </main>
    <footer>
        Página realizada por DDD &copy;Todos los derechos reservados 2024
    </footer>
</body>
</html>