<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJERCICIO 7</title>
    <link rel="stylesheet" href="../style/ejercicio7.css">
</head>
<body>
    <!-- COMPLETAR EL CSS-->
    <header>
        <h1>Mi Página Flexbox</h1>
        <p>Bienvenido a las páginas flexibles.</p>
    </header>
    <nav>
        <a href="#">Inicio</a>
        <a href="#">Quiénes somos</a>
        <a href="#">Servicios</a>
        <a href="#">Blog</a>
        <a href="#">Contacto</a>
        <div class="lenguaje">
            <button>English</button>
            <button>Euskera</button>
        </div>
    </nav>
    <div class="container">
        <aside>
        <div class="imagen-aside"><img src= "../assets/images/400x400.png" alt="aside"></div>
            <p>El señor Aside</p>
        </aside>
        <main>
            <h2>Título del artículo del día</h2>
            <p>El día que aprendí Flexbox, 18/01/2019</p>
            <div class="contenido"></div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </main>
    </div>
    <footer>
        <p>Footer &copy;</p>
    </footer>
</body>
</html>
