<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/ejercicio6.css">
    <title>EJERCICIO 6</title>
</head>
<body>
    //revisarr CSS
    <main>
        <section class="cajas">
            <div class="caja">
                <h2>1 Day Pass</h2>
                <div class="caja-info">
                    <p>Acceso en día seleccionado</p>
                    <p>Participación en Workshops</p>
                    <p>Acceso a zona networking</p>
                </div>
                <button>COMPRAR</button>
            </div>
            <div class="caja-info">
                <h2>Weekend Pass</h2>
                <p>Acceso en fin de semana</p>
                <p>Participación en Workshops</p>
                <p>Acceso a zona networking</p>
                <p>Noche de hotel incluida</p>
                <button>COMPRAR</button>
            </div>
            <div class="caja-info">
                <h2>Weekend Pass</h2>
                <p>Acceso a todas las ponencias</p>
                <p>Participación en Workshops</p>
                <p>Acceso a zona networking</p>
                <p>Noche de hotel incluida</p>
                <p>Lunch de bienvenida</p>
                <button>COMPRAR</button>
            </div>
        </section>
    </main>
</body>
</html>