<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/ejercicio2.css">
    <title>EJERCICIO 2</title>
</head>
<body>
    <main>
        <nav class="menu">
            <div class="menu-info">
                <p>INICIO</p>
                <button>ENTRAR</button>
            </div>
            <div class="menu-info">
                <p>ABOUT</p>
                <button>ENTRAR</button>
            </div>
            <div class="menu-info">
                <p>SERVICIOS</p>
                <button>ENTRAR</button>
            </div>
            <div class="menu-info">
                <p>CONTACTO</p>
                <button>ENTRAR</button>
            </div>
        </nav>
    </main>
    <footer>
        <p>Página realizada por Duvier Diego David &copy;Todos los derechos reservados 2024</p>
    </footer>
</body>
</html>