<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/ejercicio1.css">
    <title>Ejercicio 1</title>
</head>
<body>
    <main>
        <header class="encabezado">
            <div>
                <img class="logo" src="../assets/images/LOGO.png" alt="logo_thorne">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href=""></a>INICIO</li>
                    <li><a href=""></a>ABOUT</li>
                    <li><a href=""></a>SERVICIOS</li>
                    <li><a href=""></a>CONTACTO</li>
                </ul>
            </nav>
            <div class="buttons">
                <a href="">EN</a>
                <a href="">EUS</a>
            </div>
        </header>        
    </main>
    <footer>
        <p>Página realizada por Duvier Diego David &copy;Todos los derechos reservados 2024</p>
    </footer>
</body>
</html>